.container{

    width: 95%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,250px);
    grid-template-areas: 
    "im1 im1 im2 im2"
    "im1 im1 im5 im5"
    "im3 im4 im5 im5"
    "im3 im4 im5 im5"
    "im6 im6 im6 im6"
    "im6 im6 im6 im6"
    ;
    gap: 10px;

    
}

.container__img:nth-child(1){

    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    grid-area: im1;
    border-radius: 7px;
    display: flex;
    align-items: end;
    padding: 0 10px;
    opacity: 1;
    color: rgb(234, 245, 243);
    padding-bottom: 20px;
  
}

.container__img:nth-child(2){

    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    grid-area: im2;
    border-radius: 7px;
    color:white;
    color: white;
   display: flex;
   align-items: end;
   padding-left: 10px;
   padding-bottom: 20px;

   
   
}

.container__img:nth-child(3){

    background-position: center;
    background-size: cover;
    grid-area: im3;
    background-attachment: fixed;

    border-radius: 7px;
    color:white;
    display: flex;
    align-items: end;
    padding-left: 10px;
    padding-bottom: 20px;


    
   
}

.container__img:nth-child(4){

    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    grid-area: im4;
    border-radius: 7px;
    display: flex;
    align-items: end;
    color: white;
    padding-left: 10px;
    padding-bottom: 20px;

   
}

.container__img:nth-child(5){

    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    grid-area: im5;
    border-radius: 7px;
    display: flex;
    align-items: end;
    color: white;
    padding-left: 10px;
    padding-bottom: 20px;

    
}

.container__img:nth-child(6){

    background-position:center;
    background-size: cover;
    background-attachment: fixed;

    grid-area: im6;
    border-radius: 7px;
    display: flex;
    align-items: end;
    color:white;
    padding-left: 10px;
    width: 100%;
    padding-bottom: 20px;

   
    
}

/*Content*/

.container__contenido:nth-child(1){
   
    width: 70%;
    
}


.container__contenido:nth-child(2){
    
        width: 70%;

}


.container__contenido:nth-child(3){
    width: 90%;

}


.container__contenido:nth-child(4){
    
}


.container__contenido:nth-child(5){
    
    width: 50%;
}


.container__contenido:nth-child(6){
 
    width: 30%;
    
   
}

.buton{

    margin-bottom: 10px;
    color: brown;
    text-transform: uppercase;
    margin-left: 10px;
    text-decoration: none;
    font-size: 20px;
}